*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
article{
    background-color: #536872;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
article h2{
    font-size: 2rem;
    color: white;
    margin-left: 30px;

}
nav{
   
    margin-right: 30px;
}
nav a{
    font-size: 1.9rem;
    color: white;
    padding: 10px;
    text-decoration: none;

}
nav a:hover{
    background-color: white;
    color: black;
}
/* starting...header section */
header{
    /* background-color: #fa8072; */
    width: 100%;
    height:500px;
    

}
.cont{
    display: flex;
    position: relative;
}
.cont p{
    position: absolute;
    top: 15rem;
    width: 30%;
    margin-left: 4rem;
    text-align: justify;
    line-height: 1.9;
}
#hero{
    margin-left: 20rem;
    margin-top: 3rem;
    width: 40%;
}
.cont h3{
    margin-top: 10rem;
    margin-left: 5rem;
    font-size: 2.4rem;
}
section{
    width: 100%;
    height: 470px;
    /* background-color: antiquewhite; */

}

.primary{
    display: flex;
  
}
.primary p{
    text-align: center;
    margin-top: 6.4rem;
    line-height: 1.7;
    font-size: 0.9rem;
    margin-left: -10.5rem;
    padding: 0.9rem;

}
.primary h3{
   margin-top: 2rem;
   /* margin-left: 2rem; */
   padding-left: 4rem;
   font-size: 2.5rem;
   text-transform: uppercase;

}
.secondary{
    display: flex;
}
.secondary p{
    text-align: center;
    margin-top: 6.4rem;
    line-height: 1.7;
    font-size: 0.9rem;
    margin-left: -10.5rem;
    padding: 0.9rem;



 }
 .secondary h3{
    margin-top: 2rem;
   /* margin-left: 2rem; */
   padding-left: 4rem;
   font-size: 2.5rem;
   text-transform: uppercase;
   /* margin-left: 4rem; */
   /* text-align: center; */
 

 }
 .all{
    width: 100%;
    height: 300px;
 }
 .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
     margin-top: 2rem;
    /* margin-left: 10rem; */
    /* padding: 0 0 14rem 0; */ */
    /* border: 1px solid darkslateblue; */
    
 }
 .sawir{
    padding: 2rem;
    width: 40%;
 }
 div h3{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
 }
 @media screen and ( max-width:800px){
    nav{
        margin-top: 23rem;
    }
    nav a{
        display: block;
        /* margin-top: 10px; */
        border-bottom: 2px solid black;
        color: black;
       
    }
    
   #hero{
    display: none;

   }
   .cont{
    width: 100%;
    height: 100vh;
    flex-direction: column;
   }
   .cont h3{
    position: relative;
    top: 13rem;
    right: 4rem;
   }
   .cont p{
    position: relative;
    /* top: 5rem; */
    width: 100%;
    right: 4rem;
    
   }
   section{
    width: 100%;
    height: 100vh;
   }
   .primary{
    flex-direction: column;
   }
   .secondary{
    flex-direction: column;
   }
   .primary h3{
    margin-top: 9rem;

   }
   .primary p{
    width: 100%;
    height: vh;
    text-align: justify;
    line-height: 1.20;
    margin-left: 0.1rem;
  
   }

    
 }
